RewriteEngine On

# Remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$ 
RewriteRule ^ %1 [L,R=301]

# Add .php extension to files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php [L]

# RewriteRule ^service/([a-zA-Z0-9-]+)/?$ service-details.php?id=$1 [L,QSA]
RewriteRule ^services/([a-zA-Z0-9-]+)/?$ service-details.php?id=$1 [L,QSA]

 #ErrorDocument 404 http://localhost/CreateBrand/404
 ErrorDocument 404 /CreateBrand/404


