.header-text-pricing {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text-pricing h1,
h3,
p {
    margin: 5px 0;
}

.header-text-pricing hr {
    width: 90%;
}

#package {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.package-left h4 {
    font-size: 25px;
}

.package-left ol li {
    font-size: 20px;
}

.package-left ol li {
    list-style: decimal;
    margin: 20px 50px;
}

.package-left ol li ul li {
    list-style: outside;
    margin: 20px;
}

.package-right table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.package-right table tr th:nth-child(1) {
    width: 10%;
  
}
.package-right table tr th:nth-child(2) {
    width: 10%;
  
}
.package-right table tr th:nth-child(3) {
    width: 10%;
  
}
.package-right table tr th:nth-child(4) {
    width: 10%;
  
}
.package-right table tr th:nth-child(5) {
    width: 10%;
  
}
.package-right table tr th:nth-child(6) {
    width: 10%;
  
}
.package-right table tr th {
    background-color: #4CAF50;
    color: white;
    padding: 10px 5px;
    text-align: center;
}

.package-right table,
th,
td {
    padding: 10px 5px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.package-right table tr a {
    background: var(--Secondary);
    color: #ffff;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    transition: 0.4s ;
    font-weight: bold;
}
.package-right table tr a:hover {
    background: var(--primary);
    color: #000;
  
}
@media (max-width:991px ){
    #package {
        display: initial;
    }
    

}
