.parent_main_1 {
    padding: 5px;
}

.parent_child_2 {
    padding: 5px;
}

.parent_child_2 table {
    border-collapse: collapse;
    width: 100%;
}

.parent_child_2 table thead {
    border: 1px solid #000;
    background: rgba(11, 148, 11, 0.676);
   
}
.parent_child_2 table thead td {
    padding: 3px 5px ;
    font-weight: bold;
    color: #fff;
}
.parent_child_2 table tr td {
    padding: 3px 5px ;
}
.parent_child_2 table tbody tr {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px dotted #7d7d7d;
}