img.blog-img {
    width: 150px;
    height: 100px;
    float: left;
    overflow: hidden;
    background-repeat: no-repeat;
}

h1.title {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 158px;
    background: none;
    font-size: 28px;
}

.sengel-blog {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 100px;
    margin-bottom: 8px;
}

p.meta-d {
    margin-left: 158px;
    text-align: justify;
}

.btn{
    width: 80px;
    height: 10px;
    float: right;
    margin-right: 3px;    
}

.btn a {
    width: 100%;
    height: 100%;
}



/* monuwar css strt from here  */



#blogg {
    padding: 150px 150px 50px 150px ;
}
#blogg .blog-box {
   display: flex;
   align-items: center;
   width: 100%;
   position: relative;
   padding-bottom: 90px;
}
#blogg .blog-img {
    width: 50%;
    margin-right: 50px;
 }
 #blogg .blog-img img {
    width: 100%;
   height: 300px;
   object-fit: cover;
 }
 
#blogg .blog-details {
    width: 50%;
   
}
#blogg .blog-details a {
    text-decoration: none;
    font-size: 17px;
    color: #000;
    font-weight: 700;
    position: relative;
   transition: 0.3s;
   padding: 20px;
} 
#blogg .blog-details a:hover {
    color: #9495bd; 

} 
#blogg .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    position: absolute;
    transition: 0.3s;
    background-color: #000;
    right: -40px;
    top: 30px;

}
#blogg .blog-details a:hover::after {
    color: #9495bd; 
    width: 75px;
    right: -64px;
} 

#blogg .blog-details h2 {
	font-size: 87px;
	font-weight: 700;
	color: #d8cdcd !important;
    position: absolute;
    top: -70px ; 
    left: 0;
    z-index: -9;

}
#blogg .blog-details p {
    padding: 20px;

}


/* monuwar css end from here */