
/* Our Team Section Start  */
#our-team{
    padding: 0px 0px 100px;
    background-color: #fff;
    margin-top: 40px;
}
#our-team .container{
    max-width: 1100px;
    margin: 0 auto;
}
#our-team h2{
    margin-bottom: 30px;
    font-size: 38px;
}

#our-team .header-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
}
#our-team .header-menu ul{
    background:var(--bg2);
    border-radius: 8px;
    justify-content: center;
    display: flex;
    row-gap: 7px;
    flex-wrap: wrap;
    text-align: center;
}

#our-team .header-menu ul li{
    display: inline-block;
    font-size: 15px;
    color: #000;
    padding: 11px 20px;
    font-weight: 500;
    cursor: pointer;
}
#our-team .header-menu ul li.active{
    background-color: var(--primary);
    color: #fff;
    border-radius: 8px;
}
#our-team .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,300px));
    gap:40px;
    row-gap: 40px;
    justify-content: center;
}
#our-team .row .card{
   border-radius: 10px;
   position: relative;
   padding: 34px 30px 30px;
   text-align: center;
   box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13);
   position: relative;
   overflow: hidden;
}
#our-team .row .card::before{
    content: '';
    position: absolute;
    left: -129px;
    top: -128px;
    border-radius: 2px 0 0 0;
    background-color: #FD3434;
    border-radius: 0 50% 50% 50%;
    width:70px;
    height: 70px;
    transition: 0.6s;
}
#our-team .row .card::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FD3434;
    width: 200px;
    height: 5px;
    top: -0px;
    border-radius: 0 0 20px 20px;
    transition: 0.4s;
}
#our-team .row .card:hover::after{
    top: -20px;
}
#our-team .row .card:hover::before{
    left: -29px;
    top: -28px;
}
 #our-team .row .card img.card-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transition: 0.4s;
    transform-origin: left center;
}
 

#our-team .row .card .text h3{
    font-size: 20px;
    transition: 0.4s;
    margin:7px 0;
    font-weight: 600;

}
#our-team .row .card:hover h3{
    color: var(--primary);
}

#our-team .row .card .text p{
    font-size: 16px;
    margin-bottom: 10px;
}
#our-team .row .card .text a{
    color: #fff;
    background-color: var(--Secondary);
    padding: 9px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap:6px;
    transition: 0.4s;
}
#our-team .row .card:hover a{
    background-color: var(--primary);
}


#our-team .select-menu{
    max-width: 350px;
    width: 100%;
    margin: 40px auto;
    display: none;
}
#our-team .select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
#our-team .select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
#our-team .select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
#our-team .select-menu .options{
    position: relative;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
#our-team .select-menu.active .options{
    display: block;
}
#our-team .options .option{
    display: flex;
    height: 35px;
    cursor: pointer;
    padding: 0 12px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
#our-team .options .option:hover{
    background: var(--bg2);
}
#our-team .option i{
    font-size: 25px;
    margin-right: 12px;
}
#our-team .option .option-text{
    font-size: 14px;
    color: #000;
}
