 /* ^Medium Device Media Query Start */
 @media(max-width:1150px){
     /* === Nab Bar Responsive Start === */
     .menu-icon {
        display: flex;
    }

   nav ul.main_menu {
        width: 100%;
        min-height:90vh;
        overflow: auto;
        background-color: #eceff5;
        flex-direction: column;
        position: absolute;
        top: 70px;
        justify-content: start !important;
        right: 2000px;
        gap: 10px !important;
        padding: 10px;
        transition: 0.6s;
    }

    ul.main_menu.active {
        right: 0;
    }

    ul.main_menu li {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 6px;
        padding-bottom: 0;
        background-color: #fff;
        text-align: left;
    }

    ul.main_menu li a {
        padding: 13px 20px !important;
    }

    ul.main_menu li a:hover {
        background-color: transparent !important;
    }

    .drop_menu {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .drop-down {
        position: static;
        scale: 1;
        opacity: 1;
        width: 80%;
        border: none;
        border-radius: 0;
        border-top: 4px solid #fa4f4c;
    }

    .drop_menu {
        display: none;
    }

    .drop_menu.active {
        display: flex;
    }

    /* === Nab Bar Responsive End === */


    #blog .row .content a.blog_link{
        height:fit-content ;
    }
    #blog .row .content a.blog_link{
        height: auto;
    }
    #blog .row .content .card{
        /* flex-direction: column; */
        height: fit-content;
        /* padding-bottom: 20px; */
    }
    #blog .row .content img{
        width: 100%;
    }

    #blog .row .content .blog_text{
        padding-bottom: 10px;
    }
    #blog .row .content .blog_text h2{
        font-size: 15px;
    }
    #blog .row .content .blog_text p{
        font-size: 13px;
    }
 }
 @media(max-width:1170px) {
    #faqs .accordions{
        align-items: center;
        flex-direction: column;
    }
    #faqs .accordions img.main-img{
        max-width: 700px;
    }

}
@media(max-width:1170px) {
    .counter_wrapper{
        display: grid !important;
        grid-template-columns: 50% 50% ;
    }
}

 @media(max-width:1090px) {

    #service-details .review .row{
        grid-template-columns: 100%;
        justify-content: center;
    }
    #service-details .review .row .card{
        margin: 20px auto;
    }
    #blog .rows .content{
        grid-template-columns: 100% !important;
    }
    #about .row,#home .row{
        margin-top: 10px !important;
    }
    .slider{
        height: 350px !important;
      }
      #about .row .text,#home .row .text{
        width: 100% !important;
      }
     /* === Contact  Section Responsive Start === */
     #contact .row {
         flex-direction: column;
         align-items: center;
     }
     #contact .row .contact_details{
        /* align-items: center; */
     }
    

     #contact form {
         margin: 0 auto 30px;
     }
     /* === Contact  Section Responsive End === */


     #blog .row{
        flex-direction: column;

    }

    #about .container .row,#home .container .row{
        flex-direction: column;
    }
    #about .container .row .text,#home .container .row .text{
        width: 100%;
    }

 }
 @media(max-width:982px) {
    #home .slider .card{
        display: none ;
    }
    .slider .text h1{
        text-align: center;
    }
    .slider .text{
        text-align: center;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0 10px;
    }

    #team_details .row{
        grid-template-columns: 100% !important;
        gap: 0 !important;
    }
    #team_details .row .image{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    #team_details .row .image  img{
        position: static !important;
        max-width: 500px;
    }
    #team_details  .warrper{
        flex-direction: column !important;
        align-items: start !important;
    } 
}

 @media(max-width:750px) {
    .top-bar #first{
        display: none !important;
    }
    .top-bar .container{
        justify-content: end !important;
    }
    #about .slider .card{
        width: 280px !important;
        height: 290px !important;
        right: 0px !important;
        border-radius: 0 !important;
    }
 }

 /* ^Medium Device Media Query End */


 @media(max-width:588px) {
    .slider{
        height: 290px !important;
      }
      #home .slider{
        height: 350px !important;
      }
      .services .card{
        min-width: 280px !important;
        height: 390px !important;
    }
    .counter_wrapper .card{
        max-width: 240px !important;
    }
    .counter_wrapper{
        grid-template-columns: 100% ;
        justify-content: center !important;
    }

    h1{
        font-size: 36px !important;
        margin-bottom: 50px !important;
    }
    .slider h1{
        margin-bottom: 10px !important;
        font-size: 32px !important;
    }
    .slider p{
        font-size: 15px !important;
    }
    #blog .row .content .blog_text{
    padding: 0 10px 10px !important;
}
    #blog .row .content a.blog_link{
        height: auto !important;
        width: 100%;
    }
    #blog .row .content{
        align-items: center !important;
    }
    .row .content .blog_text h3{
        margin: 0 0 6px  !important;
    }
    #blog .row .content img{
        max-width: 400px !important;
        max-height: 350px !important;
    }
    #blog .row .content a.blog_link{
        max-width: 400px !important;
    }
    #blog .rows .content a.blog_link{
        margin:  0 auto !important;
        max-width: 400px !important;
        height: auto !important;
    }
    #blog .rows .content img{
        max-width: 400px !important;
        max-height: 300px;
    }
    #blog .row .content .card{
        display: flex !important;
        flex-direction: column !important;
    } 
    #blog .rows .content .blog_text {
        padding: 0 10px 10px !important;
        text-align: center !important;
        padding:  0 !important;
     }
    #blog .rows .content .card{
        display: flex !important;
        flex-direction: column !important;
        padding-bottom: 10px;
    }
    #blog .rows .content .blog_text h3{
        margin: 0 !important;
        text-align: center !important;
    }
    #blog .rows .content{
        padding:  0 !important;
        justify-content: center !important;
    }
 }
 
 /* ^Extra Small Device Media Query Start */

 @media(max-width:458px) {
    #service .container{
        padding: 0 !important;
    }
    #service .service{
        padding: 12px !important;
    }
    .slider{
        height: 290px !important;
      }
      #home .slider{
        height: 400px !important;
      }
    h2{
        font-size: 30px !important;
    }
     /* === Top Bar Responsive Start === */

   
    header.active_nav {
        position: sticky;
        top: 0px;
    }

     .top-bar h3 {
         font-size: 14px;
         font-weight: 500;
         color: #fff;
     }

     .top-bar .first-h3 {
         margin-right: 20px;
     }

     /* === Top Bar Responsive End === */

     /* === Contact  Section Responsive Start === */

     #contact form .form-group-setion{
      
       flex-direction: column;
    }
    
     /* === Contact  Section Responsive Start === */
     #faqs .accordion_card h3{
       font-size: 17px;
    }
 }

 /* ^Extra Small Device Media Query End */

 @media(max-width:430px) {
    #our-team .header-menu ul li{
        min-width: 220px;
    }
 }


 /* ^Extra Extra Small Device Media Query Start */

 @media (max-width:330px) {
     /* === Top Bar Responsive Start === */

    
     #blog .row .sidebar .social_link{
        max-width: 300px !important;
     }
     #blog .social_link .card{
        flex-direction: column;
        align-items: start !important;
     }
     #blog .row .sidebar .social_link .card .card-body{
        width: 100%;
     }
     /* === Top Bar Responsive Start === */
 }

 /* ^Extra Extra Small Device Media Query End */