form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin:  10px 0 ;
    font-size: 16px;
    transition:  .4s ;
    outline: none;
}
form input:hover {
    border-bottom: 1px solid var(--primary);
}
form input:active {
    border-bottom: 1px solid var(--primary);
}